[data-input-checkbox] {
  position: relative;
  width: 100%;
  height: 1.5rem;
  background: var(--midi-input-bg-color);
  font-weight: bold;
}

[data-input-checkbox] .label {
  margin-left: 0.25rem;
  opacity: 0.5;
}

[data-input-checkbox] .checkbox {
  padding: 0.5rem;
  text-align: right;
  font-weight: bold;
}

[data-input-checkbox] input ~ span {
  opacity: 0.5;
}

[data-input-checkbox] input:checked ~ span {
  opacity: 1;
  color: var(--midi-active-fg-color);
}

[data-input-checkbox] input {
  width: 0px;
  overflow: hidden;
  pointer-events: none;
}

[data-input-checkbox]:focus-within {
  background: var(--midi-input-active-bg-color);
}
