:root {
  --color-text-primary: black;
  --color-text-secondary: white;
}

[data-keyboard] {
  --color-text-primary: black;
  --color-text-secondary: black;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--color-text-primary);
  border-top: 2px solid gold;
  font-size: xx-small;
}

[data-keyboard] .octave {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

[data-keyboard] .octave:nth-child(odd) {
  background:rgba(150, 140, 100, 0.2);
}

[data-keyboard] .key-wrapper {
  position: relative;
  width: 100%;
  border: 0.5px solid black;
  border-top: none;
  word-break: break-all;
  min-width: 0;
}

[data-keyboard] .key-wrapper button {
  display: block;
}

/* [data-keyboard] button:hover { */
/*      background: grey; */
/* } */

[data-keyboard] .key-white {
  width: 100%;
  height: 100%;
}

[data-keyboard] .key-black {
  z-index: 1;
  position: absolute;
  top:0;
  right: 0;
  width: 60%;
  transform: translateX(calc(50% + 0.5px)); /* compensate for border */
  height: 55%;
  color: var(--color-text-secondary);
  background: black;
}

[data-keyboard] .key-pressed-future:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: gold;
}
[data-keyboard] .key-black.key-pressed-future:after {
  box-shadow: inset 0 0 0 2px black;
}
[data-keyboard] .key-white.key-pressed-future:after {
  box-shadow: inset 0 0 0 2px white;
}

[data-keyboard] .key-pressed.key-white {
  background: red;
  /* hsl(50, 100%, 80%); */
  box-shadow: inset 0 -2px 0 2px white;
}
[data-keyboard] .key-pressed-facit.key-white {
  background: gold;
  /* hsl(50, 100%, 80%); */
  box-shadow: inset 0 -2px 0 2px white;
}
[data-keyboard] .key-pressed.key-pressed-facit.key-white {
  background: green;
  /* hsl(50, 100%, 80%); */
  box-shadow: inset 0 -2px 0 2px white;
}
[data-keyboard] .key-pressed.key-black {
  /* background: hsl(50, 100%, 30%); */
  background: red;
  box-shadow: inset 0 0 0 2px black;
}
[data-keyboard] .key-pressed-facit.key-black {
  /* background: hsl(50, 100%, 30%); */
  background: gold;
  box-shadow: inset 0 0 0 2px black;
}

[data-keyboard] .key-pressed.key-pressed-facit.key-black {
  /* background: hsl(50, 100%, 30%); */
  background: green;
  box-shadow: inset 0 0 0 2px black;
}

