[data-panel] {
  /* --midi-fg-color: #f5f4f0;
  --midi-bg-color: #8d8c87;
  --midi-input-bg-color: #63625d;
  --midi-input-active-bg-color: #3c3b36; */

  position: absolute;
  bottom: 0;
  right: 15px;
  width: 200px;
  z-index: 99;

  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;

  font-size: 0.7rem;

  --midi-fg-color: #f5f4f0;
  --midi-bg-color: #1c191a;
  --midi-active-fg-color: gold;
  --midi-input-bg-color: #403d39;
  --midi-input-active-bg-color: #756959;

  color: var(--midi-fg-color);
  background-color: var(--midi-bg-color);
  border-left: 1px solid black;
}

[data-panel] > section {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}

[data-panel-toggle] {
  position: relative;
  background-color: #000000;
  flex-shrink: 0;
}
[data-panel-toggle]::after {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center center;
  transition: transform 100ms ease-out;
  content: "›"; /*‣➢›*/
}
[data-panel-state="open"] [data-panel-toggle]::after {
  transform: translateY(-50%) rotate(-90deg);
}
[data-panel-toggle]:hover {
  background-color: var(--midi-bg-color);
}

[data-panel-state="open"] [data-panel-toggle] {
  border-top: 1px solid var(--midi-input-bg-color);
}
