[data-panel-link] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 1.5rem;
  background: var(--midi-input-bg-color);
  user-select: none;
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}

[data-panel-link]:hover,
[data-panel-link]:focus {
  outline: none;
  background: var(--midi-input-active-bg-color);
}

[data-panel-link] span {
  opacity: 0.5;
}

[data-panel-link]::after {
  content: "›"; /*‣➢›*/
  color: var(--midi-active-fg-color);
}

[data-input-link]:focus-within {
  background: var(--midi-input-active-bg-color);
}
