@import "tailwindcss";

/* Write your own custom base styles here */

@theme {
  --color-yellow-500: #ffe600;
  --color-yellow-300: #edda2f;

  --color-bg-primary: #fff;
  --color-bg-secondary: #eee;

  --text-color-primary: var(--color-gray-800);
  --text-color-secondary: var(--color-gray-600);
  --text-color-tertiary: var(--color-gray-500);
  --text-color-accent: #5e6ad3;
  --text-color-success: #4cb782;

  --text-color-icon-primary: #fff;
  --text-color-icon-secondary: #fafafa;
  --text-color-icon-accent: #5e6ad3;

  --color-border-primary: #505050;
  --color-border-secondary: #303235;
  --color-border-accent: #5e6ad3;

  --color-bg-input-primary: #27282b;
  --color-bg-input-primary-hover: #2f3033;
  --text-color-input-primary: #fff;
  --text-color-input-placeholder: var(--text-color-tertiary);

  --color-bg-action-primary: var(--color-yellow-500);
  --color-bg-action-primary-hover: var(--color-yellow-300);
  --text-color-action-primary: #000;

  --color-bg-action-tertiary: var(--color-bg-primary);
  --color-bg-action-tertiary-hover: #191919;
  --color-border-action-tertiary: #202020;
  --color-border-action-tertiary-hover: #505050;
  --text-color-action-tertiary: var(--text-color-primary);

  --background-color-action-primary: var(--color-bg-action-primary);
  --background-color-action-primary-hover: var(--color-bg-action-primary-hover);
}

@layer components {
  html,
  body {
    color: var(--text-color-pimary);
    background-color: var(--color-gray-50);
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.dialog {
  text-align: center;
}
.dialog:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 0px;
}

.h-s-screen {
  height: 100vh;
  height: 100svh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}
